<!DOCTYPE html>
<html>
	<head>
		<title>Express</title>
		<link rel="stylesheet" href="/stylesheets/style.css" />
	</head>

	<body>
		<form action="/images" method="POST" enctype="multipart/form-data">
			<input type="file" name="avatar" /> <input type="submit" />
		</form>
	</body>
</html>
