<!DOCTYPE html>
<html>
	<head>
		<title><%= title %></title>
		<% if(production){ %>
		<link rel="stylesheet" href="/main.css" />
		<% } %>
		<link
			href="https://fonts.googleapis.com/icon?family=Material+Icons"
			rel="stylesheet"
		/>
	</head>

	<body>
		<div id="camera-container">
			<div id="placeholder-img-container">
				<h2 class="center">Click a pic of omr sheet!</h2>
				<img
					id="placeholder-img"
					src="/images/placeholder_img.png"
					alt="Placehodler Image"
				/>
			</div>
		</div>
		<div id="shutter-container">
			<form
				id="browse-form"
				action="/images"
				method="POST"
				enctype="multipart/form-data"
			>
				<div class="upload-btn-wrapper">
					<div id="startbutton" class="shutter">
						<a class="shutter-btn" value=""></a>
					</div>
					<input id="upload-btn" type="file" name="avatar" />
				</div>
				<button id="file-submit" class="material-icons" type="submit">
					<i class="material-icons">send</i>
				</button>
			</form>
		</div>
		<script src="/bundle.js"></script>
	</body>
</html>
