<!DOCTYPE html>
<html>
	<head>
		<title><%= title %></title>
		<% if(production){ %>
		<link rel="stylesheet" href="/main.css" />
		<% } %>
		<link
			href="https://fonts.googleapis.com/icon?family=Material+Icons"
			rel="stylesheet"
		/>
	</head>

	<body>
		<div id="camera-container"></div>
		<div id="shutter-container">
			<div class="shutter"><a class="shutter-btn" value=""></a></div>
			<a
				class="waves-effect waves-light modal-trigger"
				id="browse"
				href="#browse-file-modal"
			>
				<i class="material-icons">add_box</i>
			</a>
			<!--
				<form action="/images" method="POST" enctype="multipart/form-data">
					<input type="file" name="avatar" /> <input type="submit" />
				</form>
			-->
		</div>
		<div id="browse-file-modal" class="modal">
			<div class="modal-content">
				<form action="/images" method="POST" enctype="multipart/form-data">
					<input type="file" name="avatar" />
					<input
						id="file-submit"
						class="btn grey"
						type="submit"
						value="Submit"
					/>
				</form>
			</div>
		</div>
		<script src="/bundle.js"></script>
	</body>
</html>
