<!DOCTYPE html>
<html>
	<head>
		<title><%= title %></title>
		<link rel="stylesheet" href="/stylesheets/style.css" />
		<link rel="stylesheet" href="/main.css" />
	</head>

	<body>
		<h1><%= title %></h1>
		<p>Welcome to <%= title %></p>

		<form action="/images" method="POST" enctype="multipart/form-data">
			<input type="file" name="avatar" /> <input type="submit" />
		</form>
		<script src="/bundle.js"></script>
	</body>
</html>
