<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta http-equiv="X-UA-Compatible" content="ie=edge" />
		<title>Document</title>
		<% if(production){ %>
		<link rel="stylesheet" href="/main.css" />
		<% } %>
		<link
			href="https://fonts.googleapis.com/icon?family=Material+Icons"
			rel="stylesheet"
		/>
		<!-- Compiled and minified CSS -->

		<link
			rel="stylesheet"
			href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
		/>
	</head>
	<body>
		<div class="nav">
			<a href="/" class="material-icons">arrow_back</a>
			<span class="title">Result</span>
		</div>

		<div class="image-container">
			<div class="carousel carousel-slider center">
				<div class="carousel-item black yellow-text" href="#one!">
					<h2>Result</h2>
					<img class="carousel-img" src="<%= result %>" alt="Result" />
				</div>
				<div class="carousel-item black yellow-text" href="#two!">
					<h2>Original</h2>
					<img class="carousel-img" src="<%= original %>" alt="Original" />
				</div>
			</div>
		</div>

		<script src="/bundle.js"></script>
		<!-- Compiled and minified JavaScript -->
		<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
	</body>
</html>
